<DOCTYPE html>
    <html>
        <head>
            <style>
                p{
                    color:snow;
                    background:bold;
                    text-align:center;
                }
                </style>
                </head>
                <body>
                <p>hey! how are you?</p>
                <p>i like CSS style!</p>
            </body>
            </html>
                